In [66]:
import pandas as pd 
import numpy as np
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler

In [51]:
np.random.seed= 2021
iris = load_iris()
X, y, labels, feature_names = iris['data'], iris['target'], iris['target_names'], iris['feature_names']
df_iris = pd.DataFrame(X, columns=feature_names)
df_iris['label'] = y
features_dict = { count: value for count, value in enumerate(labels) }
df_iris['label_names'] = df_iris['label'].apply(lambda label: features_dict[label])

In [56]:
df_iris

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label,label_names
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,virginica
146,6.3,2.5,5.0,1.9,2,virginica
147,6.5,3.0,5.2,2.0,2,virginica
148,6.2,3.4,5.4,2.3,2,virginica
149,5.9,3.0,5.1,1.8,2,virginica

In [53]:
features_matrix = df_iris[feature_names]
target_array = df_iris['label']

In [54]:
X_train, X_test, y_train, y_test = train_test_split(features_matrix, target_array, test_size=0.2, random_state=42)

# Scale features

In [127]:
scale = StandardScaler().fit(X_train)
X_train_scaled = scale.transform(X_train)
X_test_scaled = scale.transform(X_test)

In [132]:
clf = KNeighborsClassifier(10)
clf.fit(X_train_scaled, y_train)

KNeighborsClassifier(n_neighbors=10)

In [136]:
clf.score(X_test_scaled, y_test)

1.0

In [134]:
k_best = None
score_best = None
print(f'The best k = {k_best}, score = {score_best}')

The best k = None, score = None